footer {
    @background-color: @blue-grey;
    pointer-events: all;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 0;
    padding-bottom: 1em;
    background-color: @background-color;
    color: white;
    iframe {
        position: relative;
        z-index: 0;
        cursor: default;
        pointer-events: none;
    }
    .footer__content {
        background-color: @background-color;
        z-index: 1;
        position: relative;
        top: -37px;
        margin-bottom: -37px;
        padding-top: 1em;
        .credits {
            margin-bottom: 0;
            font-size: 0.8em;
        }
    }
    .contact {
        &__title {
            margin-top: 0;
        }
    }
    ul {
        margin-bottom: 0;
        li a {
            font-size: 2em;
        }
    }
}

@media screen and (max-width: @screen-xs){
    div.inner {
        margin-bottom: 0px !important;
    }
    footer {
        position: static;
    }
}
