<footer id="contact" class="footer">
    <iframe width="100%" height="520" frameborder="0" src="https://toutenrab.carto.com/viz/1c7af2d8-4778-11e6-96fc-0e233c30368f/embed_map"
            allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen>
    </iframe>
    <div class="col-md-12 footer__content">
        <div class="col-md-3 col-md-offset-2">
            <h3>Contactez nous</h3>
            <p>
                Vous avez une idée de projet ou bien vous souhaitez juste nous dire bonjour ?
            </p>
            <a class="btn btn-primary" href="mailto:contact@skoli.fr">Envoyez nous un e-mail</a>
        </div>
        <div class="col-md-5 col-md-offset-2">
            <ul class="list-inline">
                <li><a href="https://github.com/skoli-code"><i class="fa fa-github"></i></a></li>
                <li><a href="https://twitter.com/agenceskoli"><i class="fa fa-twitter"></i></a></li>
            </ul>
            <p>9 rue de la Martinière<br>69001 - Lyon</p>
        </div>
    </div>

    <div class="credits col-md-12">
        <p class="col-md-3 col-md-offset-2">
            Icons created by Meaghan Hendricks from Noun Project
        </p>
    </div>
</footer>
