.footer {
    @cartodb-hack-h: 37px;
    pointer-events: all;
    position: fixed;
    bottom: -@cartodb-hack-h;
    right: 0;
    left: 0;
    z-index: 0;
    background-color: @dark-background-color;
    color: @white;
    iframe {
        position: relative;
        z-index: 0;
        cursor: default;
        pointer-events: none;
    }
    &__content {
        h2 {
            margin-bottom: 22px;;
        }
        p {
            margin-bottom: 0;
        }
        .btn {
            padding-left: 30px;
            padding-right: 30px;
        }
        background-color: @dark-background-color;
        z-index: 1;
        position: relative;
        top: -@cartodb-hack-h;
        margin-bottom: -@cartodb-hack-h;
        .credits {
            margin-bottom: 0;
            font-size: 0.8em;
        }
        .tile {
            padding-top: 30px;
            padding-bottom: 30px + @cartodb-hack-h;
            min-height: inherit;
        }
    }
    &__links {
        margin-bottom: 0;
        .socials {
            margin-bottom: @font-size-base;
        }
        li {
            margin-right: 5px;
        }
        .fa {
            font-size: 1.7em;
        }
    }
}


@media screen and (max-width: @screen-xs-max){
    div.main {
        padding-bottom: 0px !important;
    }
    .footer {
        position: static;
        iframe {
            height: 50vh !important;
        }

        .col-xs-12 {
            margin-bottom: @font-size-base * 2;
        }
        .tile {
            padding-bottom: 15px;
        }
        &__links {
            li {
                margin-right: 0;
                padding: 2px;
            }
        }
        .breakline {
            &:after {
                content: '\a';
            }
        }
    }
}
