<footer id="contact" class="footer">
    <iframe width="100%" height="520" frameborder="0" src="https://toutenrab.carto.com/viz/1c7af2d8-4778-11e6-96fc-0e233c30368f/embed_map"
            allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen>
    </iframe>
    <div class="footer__content">
        <div class="container">
            <div class="row">
                <ul class="list-inline">
                    <li><a href="https://github.com/skoli-code"><i class="fa fa-github"></i></a></li>
                    <li><a href="https://twitter.com/agenceskoli"><i class="fa fa-twitter"></i></a></li>
                </ul>
                <div class="row">
                    <p class="col-md-4">
                        Vous avez une idée de projet ou bien vous souhaitez juste nous dire bonjour&nbsp;?
                    </p>
                    <a class="btn btn-primary col-md-2" href="mailto:contact@skoli.fr">Envoyez nous<br>un e-mail</a>
                    <p class="col-md-3 col-md-offset-1">
                        9 rue de la Martinière<br>
                        69001 - Lyon<br>
                        <span class="phone">+336 041 222</span>
                    </p>
                </div>
                <p class="credits">
                    Credits: Icons taken from <a href="https://thenounproject.com/mnhendricks11/collection/data-visualization-and-structure/?oq=data&cidx=7">Data-Visualization</a>
                    kit created by <a href="https://thenounproject.com/mnhendricks11/">Meaghan Hendricks</a> on the Noun Project. <br>
                    This website source code is available on <a href="https://github.com/Skoli-Code/website" rel="nofollow">our GitHub repository</a>
                </p>
            </div>
        </div>
    </div>

</footer>
