.line-chart-background {
    position: relative;
    color: white;
    width: 100%;
    overflow: hidden;
    section& {
        padding: 0 !important;
        border: none;
    }

    &__overlay {
        position: absolute;
        top: 30px;
        left: 60px;
        right: 60px;
        bottom: 60px;
        z-index: 1;
    }
    .svg-wrapper {
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        position: absolute;
        display: inline-block;
        vertical-align: bottom;
        bottom: 0;
    }

    svg {
        // margin-bottom: 20%;
        max-width: 100%;
        z-index: 0;
        position: absolute;
        // top: 0;
        bottom: 0;
        left: 0;
        display: inline-block;


        .path {
            stroke-width:1px;
            fill: none;
            stroke: @dark-background-shapes-color;
        }
    }
    @media screen and (max-width: @screen-sm-max){
        &__overlay {
            left: 30px;
            bottom: 30px;
            right: 30px;
        }
    }

    @media screen and (max-width: @screen-xs){
        &__overlay {
            left: 15px;
            bottom: 15px;
            right: 15px;
        }
    }
}
