.navbar {
    background-color: @black;
    &-inverse &-brand {
        background-color: @black;
        color: white;
        font-family: 'Josefin Slab', serif;
        font-size: 1.2em;
    }
    .skoli-logo {
        color: white;
        font-weight: 800;
        margin-left: 0.2em;
        text-decoration: none;
        &:hover {
            color: @blue;
        }
    }
}
