<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
        <div class="navbar-brand">
            <span ng-click="nav.toggleSidebar()"
                  class="fa fa-bars"></span>

            <a class="skoli-logo ariane" ui-sref="app.home({'#': 'top'})">
                Skoli
            </a>

            <span ng-if="!nav.$state.is('app.home')">
                &nbsp;/&nbsp;
                <span ng-if="!nav.isProjectDetails()">{{ nav.$state.current.data.title }}</span>
                <span ng-if="nav.isProjectDetails()">
                    <a ui-sref="app.portfolio.list" class="ariane">{{ nav.$state.current.data.title }}</a>
                    &nbsp;/&nbsp;
                    {{ nav.currentProject.title}}
                </span>
            </span>
        </div>
    </div>
  </div>
</nav>
