.path {
    fill: fade(@blue-grey, 10%);
}

text {
    color: white;
}

.triangle-chart {
    padding-top: 30px;
    &__axis {
        position: relative;
        height: 200px;
        font-size: 0.9em;
        h3 {
            font-size: 1.4em;
            font-weight: bold;
        }
        p {
            width: 100% !important;
        }
        .step {
            position: absolute;
            // text-align: center;
            // padding-left: 15px;
            // padding-right: 15px;
        }
    }

}
