@hover-anim-duration: 500ms;
@path-color: fade(@blue-grey, 10%);
@hover-color: fade(@brand-primary, 80%);
@text-hover-color: @brand-primary;
.path {
    fill: @path-color;
    transition: fill @hover-anim-duration ease;
    &.hover {
        fill: @hover-color;
    }
}

.triangle-chart {
    padding-top: 4em;
    &__axis {
        position: relative;
        min-height: 200px;
        h4 {
            font-size: 1em;
        }
        p {
            font-size: 0.8em;
        }
        .step {
            position: absolute;
            p {
                font-weight: normal;
            }
            h4:after {
                transition: background-color @hover-anim-duration ease;
            }
            &.hover {
                transition: color @hover-anim-duration ease;
                color: @text-hover-color;
                h4:after { background-color: @text-hover-color; }
            }
        }
    }
    &.mobile {
        .triangle-chart__axis {
            height: auto;
            margin-left: 15px;
        }
        svg, .triangle-chart__axis {
            float: left;
        }
        &:after {
            clear: both;
            display: table;
            content: "";
        }
    }
    @media screen and (max-width: @screen-xs){
        padding-top: 0;
    }
}
