@hover-anim-duration: 500ms;
@path-color: fade(@black, 10%);
@hover-color: fade(@brand-primary, 80%);
@text-hover-color: @brand-primary;


.triangle-chart {
    padding-top: 4em;
    .path {
        fill: @path-color;
        transition: fill @hover-anim-duration ease;
    }
    &__axis {
        position: relative;
        min-height: 200px;
        h4 {
            font-size: 1em;
        }
        p {
            font-size: 0.8em;
        }
        .step {
            position: absolute;
            p {
                font-weight: normal;
            }
            p, h4 {
                transition: color @hover-anim-duration ease;
            }
            .small-underline:after {
                background-color: @black;
            }

            h4:after {
                transition: background-color @hover-anim-duration ease;
            }
        }
    }

    &.mobile {
        .triangle-chart__axis {
            height: auto;
            margin-left: 15px;
        }
        svg, .triangle-chart__axis {
            float: left;
        }
        &:after {
            clear: both;
            display: table;
            content: "";
        }
    }
    @media screen and (max-width: @screen-xs){
        padding-top: 0;
    }
}
