<div class="newsfeed">
    <h1>{{ newsfeed.feedTitle }}</h1>
    <ul class="news-list list-unstyled">
        <li class="item" ng-repeat="item in newsfeed.listNewsItems()">
            <i class="fa" ng-class="newsfeed.itemIcon(item)"/>
            <div class="item-content">
                <span class="item-date">{{ newsfeed.itemDate(item) }}</span>&nbsp;-&nbsp;<span class="item-source">{{ item.source }}</span><br>
                <span class="item-title">{{ item.title }}</span><br>
                <span ng-if="item.url">
                    <a ng-href="{{ item.url }}">{{ newsfeed.itemDetailsText(item) }}</a>
                </span>
            </div>
        </li>
    </ul>
</div>
