<section class="main__header">
    <h1 class="main-title">{{ details.title }}</h1>
    <hr>
    <div class="tile">
        <skoli-grid grid-items="details.listImages()" grid-use-fullscreen="true" grid-on-item-clicked="details.openFullscreen(item)"></skoli-grid>
    </div>
    <div class="tile">
        <skoli-feed feed-items="details.listFeedItems()" feed-title="Actualités"></skoli-feed>
    </div>

    <div class="fullscreen" ng-class="{ 'fullscreen--opened': details.fullscreenImg }">
        <div class="fullscreen__close">
            <a ng-click="details.closeFullscreen()"><i class="fa fa-close"></i></a>
        </div>
        <img ng-if="details.fullscreenImg"
            ng-src="{{ details.fullscreenImg }}"
            skoli-img-load="details.fullscreenImgLoaded = true"/>
    </div>
</section>
