.area-chart-background {
    position: relative;
    color: white;
    // padding-top: 2em;
    // padding-bottom: 2em;
    color: white;
    // background-color: #1a232c;
    padding-top:30px;
    padding-bottom:30px;
    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }
    svg {
        z-index: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        .area {
            // fill: white;
            fill: rgba(100, 100, 100, 0.3);
            &.even {
                fill: rgba(100, 100, 100, 0.4);
            }
        }
    }
}
