<div class="content" ng-class="{ 'content--sidebar-opened': sidebar_opened }">
    <skoli-sidebar></skoli-sidebar>
    <div class="view">
        <skoli-navbar></skoli-navbar>
        <div class="main offer">
            <div class="inner">
                <section class="main__header">
                    <h1>Notre offre</h1>
                    <hr>
                    <div class="container">
                        <!-- <p>
                            Nous proposons d’accompagner les organisations de recherche dans la
                            transition numérique de leurs activités, et en particulier dans l’usage des
                            données numériques.
                        </p> -->
                        <div class="row">
                            <div class="col-md-4 chapter" ng-class="chapter.color_class"
                                ng-repeat="chapter in offer.listChapters() | orderBy:'order'"
                                ng-click="offer.goToChapter(chapter)">
                                <div class="row">
                                    <div class="col-md-12 col-xs-3 text-center" ng-bind-html="chapter.pictogram"></div>
                                    <div class="col-md-12 col-xs-8">
                                        <h3 class="bold small-underline">{{ chapter.title }}</h3>
                                        <p class="small-underline-offset-h3">
                                            {{ chapter.home_description}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="offer__chapter" ng-class="chapter.color_class"
                    ng-repeat="chapter in offer.listChapters() | orderBy:'order'"
                    id="{{chapter.title.toLowerCase() }}"
                    ng-init="even=($index % 2 === 0)">
                    <div class="container">
                        <div class="offer__chapter__description">
                            <div class="text-center">
                                <span class="pictogram" ng-bind-html="chapter.pictogram"></span>
                                <!-- <span class="unicode-char">{{ chapter.unicode_char }}</span> -->
                                <h1>{{ chapter.detailed_title }}</h1>
                            </div>
                            <div class="sep"></div>
                            <p ng-bind-html="chapter.description"></p>
                        </div>
                        <div class="row" ng-init="appearFromLeft = $index % 2 === 0">
                            <!-- ng-class="appearFromLeft ? 'slide-left-not-visible': 'slide-right-not-visible'" -->
                            <div ng-if="chapter.services.length"
                                 class=" fade offer__chapter__services slide col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2"
                                 when-visible="fadeIn"> <!--appearFromLeft ? slideLeft : slideRight -->
                                <div class="service row" ng-repeat="service in chapter.services">
                                    <div class="col-md-12 col-xs-12">
                                        <div class="col-md-5 service__name">
                                            {{ service.name }}
                                        </div>
                                        <div class="col-md-7" ng-if="service.sub_services.length">
                                            <div class="service__subservice" ng-repeat="sub_service in service.sub_services">
                                                {{ sub_service.name }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <skoli-footer></skoli-footer>
        </div>
    </div>
</div>
