.offer {
    section.main__header {
        padding-bottom: 0;
        hr {
            margin-bottom: 0;
        }
        .chapter {
            cursor: pointer;
            margin-bottom: 2em;
            .small-underline:after {
                transition: width .5s ease;
            }
            svg {
                max-width: 175px;
                width: 100%;
                height: auto;
                fill: #333;
            }
            &:hover, &:focus, &:active   {
                border: none;
                .small-underline:after {
                    width: 100%;
                }
            }
            p {
                margin-bottom: 0;
            }
        }
    }

    // responsive
    @media screen and (max-width: @screen-xs) {
        &__chapter {
            .pictogram {
                img {
                    width: 100px;
                }
            }
            h1 {
                font-size: 3em;
            }
        }
    }
}
