@blue-grey: #2c3e50;
@btn-primary: white;
@black: #0a0a0a;

@section-alt: rgba(0,0,0,0.12);

// Bauhaus colors
@bh-yellow: #FDB50A;
@bh-orange: #FF4E00;
@bh-blue: #007FD2;

// original colors
@green: #00897B;
@corail: #bc5e3f;
@blue: #5c7f9b;
