// COLORS DEFINITIONS
// primary collors
@bh-yellow: #FDB50A;
@bh-blue: #007FD2;
@red: #D24829;
@blue-grey: #78909C;
@light-blue-grey: #ECEFF1;

// complementary colors
@light-grey: #C2C2C2;
@midnight-blue: #001123;
@midnight-blue-light: #002954;
@black: #333;
@white: white;

// THEMING
// 3 chapters colors
@data-color: @bh-yellow;
@design-color: @red;
@interfaces-color: @bh-blue;
// primary color override (bootstrap)
@brand-primary: @blue-grey;
@brand-primary-complement: @light-blue-grey;
// background colors
@dark-background-color: @midnight-blue;
@dark-background-shapes-color: @midnight-blue-light;
