/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  less dependencies when defined in the bower.json of your dependencies
 */
// bower:less
// endbower

@import '../assets/font-awesome/less/font-awesome';
/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap/less/variables.less
 */
@icon-font-path: '../../bower_components/bootstrap/fonts/';
@fa-font-path: '../assets/font-awesome/fonts/';
@font-size-base: 15px;

.btn {
    border-radius: 0;
    border: 0;
}

.btn-default {
    background-color: @white;
    color: @black;
    border: 1px solid @brand-primary;
    &:hover {
        background-color: @brand-primary;
        color: @white;
    }
}


section {
    padding: 0;
    margin: 0;
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your less files automatically
 */
// injector
// endinjector
