/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  less dependencies when defined in the bower.json of your dependencies
 */
// bower:less
// endbower

/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap/less/variables.less
 */
@navbar-inverse-link-color: #5AADBB;
@icon-font-path: '../../bower_components/bootstrap/fonts/';
@import '../assets/font-awesome/less/font-awesome';
@fa-font-path: '../assets/font-awesome/fonts/';

html body {
    // font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
}
.bold {
    font-weight: bold;
}

.bh-label {
    padding: 0 0.2em;
}

.btn-primary {
    background-color: @btn-primary;
    color: black;
}

.skoli-logo, .main__header h1 {
    font-family: 'Josefin Slab', serif;
}

nav.navbar {
    margin-bottom: 0;
}

// @nav-height: 50px;

.img-rounded {
    border-radius: 50%;
}

.main {
    padding-top: 50px;
    pointer-events: none;
    .inner {
        pointer-events: all;
        z-index: 1;
        position: relative;
    }
    &__header {
        background: white;
        color: black;
        background-color: white;
        border-bottom: 5px solid black;
        padding-bottom: 4em;
        padding-top:10em;
        h1 {
            margin-top: 0;
            font-size: 8em;
            border-bottom: 1px solid black;
            padding-bottom: 0.05em;
            margin-bottom: 15px;
        }
        p {
            width: 60%;
            margin: auto;
            // float: none;
        }
    }
    section {
        background: url('../assets/images/cream_dust.png') repeat;
    }
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your less files automatically
 */
// injector
// endinjector
