.bh-label {
    // padding: 0 0.2em;
    background-color: @black;
    color: @white;
    &.light-grey {
        color: @black;
    }
    &-inverted {
        // padding: 0 0.2em;
        color: @black;
        background-color: @white;
    }
}
