.fbx(@direction: row){
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-direction: @direction;
    -webkit-flex-direction: @direction;
    flex-direction: @direction;
}

.fbx-order(@order) {
    -webkit-box-ordinal-group: @order;
    -moz-box-ordinal-group: @order;
    -ms-flex-order: @order;
    -webkit-order: @order;
    order: @order;
}

.transition (@value1,@value2:X,...){
    @value: ~`"@{arguments}".replace(/[\[\]]|\,\sX/g, '')`;

    -webkit-transition: @value;
    -moz-transition: @value;
    -ms-transition: @value;
    -o-transition: @value;
    transition: @value;
}

.bh-label {
    background-color: @blue-grey;
    color: white;
}

.bh-color(@color){
    @opposite-color: contrast(@@color, @black, white, 20%);
    .@{color} {
        a {
            color: @@color;
            transition: color .5s ease;
            &:hover {
                color: darken(@@color, 50%);
            }
        }

        .small-underline:after {
            background-color: @@color;
        }

        .tile--colored {
            background-color: @@color;
            color: @opposite-color;
            .small-underline:after {
                background-color: @opposite-color;
            }
            a {
                i {
                    color: @opposite-color;
                    opacity: .5;
                    transition: opacity .5s ease;
                }

                &:hover {
                    i { opacity: 1; }
                }
            }
        }
    }
    &.home {
        .home__offer__chapter {
            &.@{color} {
                .small-underline:after {
                    background-color: @@color;
                }
                &:hover, &:focus, &:active {
                    background-color: @@color;
                    .small-underline:after {
                        background-color: @black;
                    }
                }
            }
            &:hover, &:focus, &:active       {
                cursor: pointer;
                color: contrast(@@color, #AEAEAE, #333);
                h2:after {
                    background-color: contrast(@@color, #AEAEAE, #333, 65%);
                }
            }
        }
    }


    .bh-label {
        &-inverted {
            &.@{color}, .@{color} & {
                background-color: white ;
                color: @@color;
            }

            .tile--photo & {
                background-color: white;
            }
        }

        &.@{color}, .@{color} & {
            background-color: @@color;
        }
    }

    .palette {
        li.@{color} {
            background-color: @@color;
        }
    }

    .text-@{color} {
        color: @@color;
    }
}


@colors: bh-yellow, bh-blue, bh-orange, black, blue-grey, light-grey, white, grey ;

.-(@i: length(@colors)) when (@i > 0) {
    @name: extract(@colors, @i);
    .bh-color(@name);
    .-((@i - 1));
} .-;
