// bootstrap overides
@font-size-base: 15px;

@font-size-large:         ceil((@font-size-base * 1.25)); // ~19px
@font-size-small:         ceil((@font-size-base * 0.85)); // ~13px

@font-size-h1:            floor((@font-size-base * 3));  // ~45px
@font-size-h1-main:       floor((@font-size-h1   * 2 )); // ~90px
@font-size-h2:            floor((@font-size-base * 2.5)); // ~30px
@font-size-h3:            ceil((@font-size-base * 1.7)); // ~24px
@font-size-h4:            ceil((@font-size-base * 1.25)); // ~18px
@font-size-h5:            @font-size-base;
@font-size-h6:            ceil((@font-size-base * 0.85)); // ~12px

html body {
    font-family: @poppins;
}

p, ul {
    font-weight: lighter;
    letter-spacing: .02em;
}

h1.main-title {
    font-size: @font-size-h1-main;
}
section h1 {
    font-weight: 200;
}

.skoli-logo, .main-title {
    font-family: @josefin;
}

.main__header h1 {
    text-align: center;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
    p &, ul & {
        font-weight: normal;
    }
}

.light {
    font-weight: lighter;
}

// small hack for phone numbers
.phone {
    margin-left: -0.675em;
}

.step {
    h3 {
        // font-size: 1.1em;
        font-weight: bold;
        position: relative;
        &:after {
            width: 30px;
            height: 3px;
            background: @blue-grey;
            content: ' ';
            position: absolute;
            left: 0;
            bottom: -7px;
        }
    }
}

.small-underline {
    @underline-height: 0.185em;
    position: relative;
    margin-bottom: 0.8em;
    &:after {
        display: block;
        content: '';
        position: absolute;
        bottom: -0.4em;
        width: 1.5em;
        height: 0.185em;
        min-height: 2px;
        background-color: @blue-grey;
    }

    &-offset {
        padding-left: 3.7em;
        &-h3 {
            padding-left: 2.5em;
        }
    }
}


@media screen and (max-width: @screen-xs){
    .main.home {

        p.small-underline-offset {
            padding-left: 0;
        }

        .main__header {
            h1 {
                font-size: 6em;
                margin-top: 20px;
            }
            h2.subtitle {
                font-size: 1.25em;
                margin-left: 45px;
                margin-top: -0.5em;
            }
            p.lead {
                font-size: 1.25em;
                line-height: 2em;
            }
        }
    }
}
