.feed {
    .item {
        margin-bottom: 30px;
        display: flex;
        i {
            vertical-align: top;
            text-align: center;
            font-size: 2em;
            width: 2em;
            padding-top: 0.2em;
        }

        &-content {
            width: 95%;
        }

        &-source {
            font-weight: bold;
        }
    }
    &__pagination {
        &__item {
            text-align: center;
            display: inline-block;
            color: @brand-primary;
            width: 2em;
            &--active,&:hover {
                font-weight: bold;
            }
        }
    }
}
