.grid {
    list-style: none;
    padding: 0;
    margin:0;
    li {
        padding: 0;
        margin:0;
        &.plus {
            @plus-height: 200px;
            text-align: center;
            // display: block;
            z-index: 10;
            position: relative;
            width: 100%;
            height: @plus-height;
            background: @blue-grey;
            .fa-plus {
                color: white;
                text-shadow: 0 0 1px darken(@blue-grey, 50%);
                line-height: @plus-height + 15px;
                font-size: 10em;
            }
        }
    }
    &__object {
        // background-size: cover;
        &__image {
            width: 100%;
        }
        &:hover &__overlay {
            opacity: 1;
        }
        &__overlay {
            z-index: 20;
            opacity: 0;
            transition: opacity .5s ease-out;
            cursor: pointer;
            background-color: rgba(255,255,255,0.9);
            position: absolute;
            padding: 10px;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
    }
}
