<ul class="grid dynamic-grid"
    ag-gutter-size="30"
    ag-grid-width="350"
    ag-id="tile-{{ grid.id }}"
    angular-grid="grid.listGridItems()">
    <li ng-repeat="item in grid.listGridItems() track by item.id" class="grid__object">
        <span ng-if="grid.gridUseFullscreen" ng-click="grid.onItemClicked(item, $index)">
            <img ng-src="{{item.picture}}" class="grid__object__image"/>
            <span class="grid__object__overlay text-center fs">
                <h4>Cliquez pour agrandir l'image</h4>
            </span>
        </span>
        <span ng-if="!grid.gridUseFullscreen">
            <a ui-sref="{{ grid.gridDetailsState }}({slug: '{{ item.slug }}', '#': 'top'})">
                <img ng-src="{{item.picture}}" class="grid__object__image"/>
                <span class="grid__object__overlay">
                    <h4>{{ item.title }}</h4>
                    <p>{{ item.description }}</p>
                    <label>Cliquez pour plus de détails</label>
                </span>
            </a>
        </span>
    </li>
    <li ng-if="grid.gridUseContactItem" class="plus grid__object">
        <a href="mailto:contact@skoli.fr">
            <i class="fa fa-plus"/>
            <span class="grid__object__overlay">
                <h4>Votre étude ?</h4>
                <p>Nous réalisons pour vous des outils et des applications de la création du savoir à sa mise en forme et sa diffusion sur le web.</p>
            </div>
        </span>
    </li>
</ul>
