<div class="sidebar">
    <ul class="list-unstyled">
        <li><a ui-sref="app.home({'#': 'top'})">
            {{ sidebar.$state.get('app.home').data.title | capitalize }}
        </a></li>
        <li><a ui-sref="app.offer({'#': 'top'})">
            {{ sidebar.$state.get('app.offer').data.title | capitalize }}
        </a></li>
        <li><a ui-sref="app.agency({'#': 'top'})">
            {{ sidebar.$state.get('app.agency').data.title | capitalize }}
        </a></li>
        <li ng-click="sidebar.scrollToBottom()">Contact</li>
    </ul>
</div>
