<div class="sidebar">
    <div class="sidebar__close">
        <a ng-click="sidebar.close()"><i class="fa fa-close"></i></a>
    </div>
    <ul class="list-unstyled sidebar__menu">
        <li><a ui-sref="app.home({'#': 'top'})">
            {{ sidebar.$state.get('app.home').data.title | capitalize }}
        </a></li>
        <li><a ui-sref="app.offer({'#': 'top'})">
            {{ sidebar.$state.get('app.offer').data.title | capitalize }}
        </a></li>
        <li><a ui-sref="app.agency({'#': 'top'})">
            {{ sidebar.$state.get('app.agency').data.title | capitalize }}
        </a></li>
        <li><a ui-sref="app.about({'#': 'top'})">
            {{ sidebar.$state.get('app.about').data.title | capitalize }}
        </a></li>
        <li><span ng-click="sidebar.scrollToBottom()">Contact</span></li>
    </ul>
    <ul class="list-inline socials">
        <li><a href="https://github.com/skoli-code"><i class="fa fa-github"></i></a></li>
        <li><a href="https://twitter.com/agenceskoli"><i class="fa fa-twitter"></i></a></li>
    </ul>
</div>
