<div class="content" ng-class="{ 'content--sidebar-opened': sidebar_opened }">
    <skoli-sidebar></skoli-sidebar>
    <div class="view">
        <skoli-navbar hide='true'></skoli-navbar>
        <div class="main home">
            <div class="inner">
                <section class="intro main__header full-height-section line-chart-background">
                    <div class="line-chart-background__overlay">
                        <h1 class="skoli-logo">Skoli</h1>
                        <h2 class="subtitle">Synchroniser Savoirs & Société</h2>
                        <p class="lead text-right">
                            Notre agence accompagne <br class='visible-md visible-lg'>la <span class="data-color bh-label">construction</span>, la <span class="design-color bh-label">valorisation</span> et <br class='visible-md visible-lg'>la <span class="interfaces-color bh-label">médiation</span> numérique des&nbsp;savoirs.
                        </p>
                    </div>
                </section>
                <section class="main__interval main__interval--parallax">
                    <img src="../assets/images/photos/yale_library.jpg" du-parallax y="background"/>
                </section>
                <section class="home__offer main__interval">
                    <div class="row">
                        <div class="col-xs-12 col-md-4 col-sm-4 home__offer__chapter"
                            ng-class="chapter.color_class"
                            ng-repeat="chapter in home.listChapters()"
                            ng-click="$state.go('app.offer', {'#': chapter.title.toLowerCase() })"
                            ng-attr-tabindex="{{$index + 1}}">
                            <div class="col-md-10 col-md-offset-1 col-xs-12">
                                <h2 class="bold small-underline">{{ chapter.title }}</h2>
                                <p class="small-underline-offset"
                                   ng-bind-html="chapter.home_description">
                                </p>
                                <span class="more small-underline-offset">En savoir plus</a>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </section>
                <section class="home__agency text-center triangle-background">
                    <div class="triangle-background__overlay">
                        <div class="container">

                            <h1 class="bold">Notre agence</h1>
                            <h4>
                                Skoli est un prestataire de services numériques et s’adresse à tous les producteurs de savoirs&nbsp;:
                                chercheurs, organismes de recherche, universités, institutions, think-tanks, éditeurs, fondations, auteurs, etc.
                            </h4>
                            <a ui-sref="app.agency({'#': 'top'})" class="btn btn-default">En savoir plus</a>
                        </div>
                    </div>
                </section>
            </div>
            <skoli-footer></skoli-footer>
        </div>
    </div>
</div>
