.home {
    padding-top: 0;
    .main__header {
        padding-top: 50px;
        color: white;
        position: relative;
        border-bottom: 0;
        background: @dark-background-color;
        padding-bottom: 0;

        h1 {
            text-align: left;
            padding: 0;
            margin-top: 0.5em;
            margin-bottom: 0;
            font-size: 10em;
            border-bottom: none;
            // margin-bottom: 0em;
        }
        .subtitle {
            font-size: 2em;
            margin-top: 0;
            margin-bottom: 2em;
            margin-top: -1.2em;
            color: @brand-primary;
            margin-left: 75px;
            font-weight: lighter;
        }
        .lead {
            font-size: 2em;
            line-height: 2em;
            // width: 400px;
            position: absolute;
            margin-bottom: 0;
            right: 0;
            bottom: 0;
            text-align: right;
        }
        .sk-label {
            color: @dark-background-color;
        }
    }

    .main__interval--parallax {
        height: 70vh;
        max-height: 500px;
    }

    &__offer {
        padding-top: 0;
        padding-bottom: 0;
        .row {
            overflow: hidden;
            margin-left: 0;
            margin-right: 0;
        }
        .btn {
            position: relative;
            z-index: 1;
            top: -1em;
        }
        &__chapter {
            // z-index: 0;
            position: relative;
            // height: 26vh;
            padding-top: 15px;
            // fix to have the same height for all chapters.
            /// took from http://stackoverflow.com/a/19695851/885541
            margin-bottom: -99999px;
            padding-bottom: 99999px;
            &, h2:after, .more:before {
                transition: color .33s ease, background-color .33s ease;
            }
            &:hover {
                a { color: @black }
            }
            p {
                margin-bottom: 0;
            }
            .more {
                &:before {
                    content: '►\a';
                }
                color: @black;
                // text-decoration: underline;
                display: block;
                font-weight: bold;
                padding-bottom: 30px;
            }

            // div&:hover h2:after { background-color: white; }
        }
    }


    &__agency {
        .btn {
            margin-top: 10px;
        }
    }

    // responsive rules
    @media screen and (max-width: @screen-sm){
        .main__header {
            p.lead {
                right: auto;
                width: 100%;
                text-align: left;
            }
        }
        .main__interval {
            height: auto;
            // img {
            //     -moz-transform: none !important;
            //     -webkit-transform: none !important;
            //     transform: none !important;
            // }
        }
        &__offer__chapter {
            padding-top: 0;
            padding-bottom: 0;
            margin-bottom: 0;
            a {
                padding-bottom: 15px;
            }
        }
    }

    @media screen and (max-width: @screen-sm-max){
        .main__header {
            h1 {
                margin-top: 20px;
            }
            h2.subtitle {
                margin-left: 45px;
                margin-top: -0.5em;
            }
        }
    }

    @media screen and (max-width: @screen-xs-max){
        &__offer {
            &__chapter {
                padding-top: 15px;
                padding-bottom: 15px;
                margin-bottom: 0;
                p {
                    padding-bottom: 0;
                }
            }
        }
    }
}
