.home {
    padding-top: 0;
    section.main__header {
        padding-top: 50px;
        color: white;
        position: relative;
        border-bottom: 0;
        // background: @blue-grey;
        background: #001123;
        padding-bottom: 0;

        h1 {
            text-align: left;
            padding: 0;
            margin-top: 0.5em;
            margin-bottom: 0;
            font-size: 10em;
            border-bottom: none;
            // margin-bottom: 0em;
        }
        h2.subtitle {
            font-size: 2em;
            margin-top: 0;
            margin-bottom: 2em;
            margin-top: -1.2em;
            color: @white;
            margin-left: 75px;
            font-weight: lighter;
        }
        p.lead {
            font-size: 2em;
            line-height: 2em;
            // width: 400px;
            position: absolute;
            margin-bottom: 0;
            right: 0;
            bottom: 0;
            text-align: right;
        }
    }

    .main__interval--parallax {
        height: 60vh;
    }

    &__offer {
        padding-top: 0;
        padding-bottom: 0;
        .row {
            overflow: hidden;
        }
        .btn {
            position: relative;
            z-index: 1;
            top: -1em;
        }
        &__chapter {
            z-index: 0;
            position: relative;
            // height: 26vh;
            padding-top: 15px;
            // fix to have the same height for all chapters.
            /// took from http://stackoverflow.com/a/19695851/885541
            margin-bottom: -99999px;
            padding-bottom: 99999px;
            &, h2:after {
                transition: color .33s ease, background-color .33s ease;
            }

            p {
                padding-bottom: 30px;
            }

            div&:hover h2:after { background-color: white; }
        }
    }


    &__agency {
        .btn {
            margin-top: 10px;
        }
    }

    // responsive rules
    @media screen and (max-width: @screen-sm){
        .main__header {
            p.lead {
                right: auto;
                width: 100%;
                text-align: left;
            }
        }
        .main__interval {
            height: auto;
            img {
                -moz-transform: none !important;
                -webkit-transform: none !important;
                transform: none !important;
            }
        }
        &__offer__chapter {
            padding-top: 0;
            padding-bottom: 0;
            margin-bottom: 0;
            p {
                padding-bottom: 15px;
            }
        }
    }

    @media screen and (max-width: @screen-xs){
        &__offer {
            &__chapter {
                padding-top: 15px;
                padding-bottom: 15px;
                margin-bottom: 0;
                p {
                    padding-bottom: 0;
                }
            }
        }

        .main__header {
            h1 {
                font-size: 6em;
                margin-top: 20px;
            }
            h2.subtitle {
                font-size: 1.25em;
                margin-left: 45px;
                margin-top: -0.5em;
            }
            p.lead {
                font-size: 1.25em;
                line-height: 2em;
            }
        }
    }

}
