.triangle-background {
    position: relative;
    color: white;
    // padding-top: 2em;
    // padding-bottom: 2em;
    color: white;
    // background-color: #1a232c;
    padding-top:30px;
    padding-bottom:60px;

    text-shadow: 1px 1px @blue-grey;
    .btn {
        text-shadow: none;
        border-color: @blue-grey;
        &:hover {
            background-color: @blue-grey;
        }
    }
    &__overlay {
        position: relative;
        z-index: 1;
    }
    svg {
        z-index: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        // z-index: -1;
        background-color: #1a232c;
        path {
          fill: none;
          stroke: fade(#CCC, 50%);
          stroke-width: .5px;
        }
    }
}
