.agency {
    .container {
        max-width: 800px;
    }
    .main__header {
        .tile {
            min-height: auto;
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }
    .main__interval {
        .overlay {
            position: absolute;
            z-index: 1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            .member.member-overlay {
                padding: 10px;
                position: absolute;
                width: 300px;
                a {
                    top: 5px;
                    right: 10px;
                }
            }
        }
    }

    .member {
        a {
            color: white;
            text-decoration: none;
            opacity: 0.5;
            transition: opacity .33s ease;
            &:hover {
                opacity: 1;
            }
        }
        h4 {
            line-height: 1.2em;
        }
        h3 {
            margin: 0;
            margin-bottom: 10px;
            .title {
                font-size: 0.8em;
                font-weight: bold;
            }
        }
        p {
            margin-bottom: 0;
        }
    }
    //
    // section&__members {
    //     div.member {
    //         padding-left: 15px;
    //         &__description {
    //             position: relative;
    //             padding-left: 0;
    //             padding-right: 0;
    //             padding-top: 10px;
    //             padding-bottom: 10px;
    //         }
    //         a {
    //             top: 5px;
    //             right: 0;
    //         }
    //     }
    //     &:after {
    //         content: '';
    //         display: table;
    //         clear: both;
    //     }
    // }
    &__previous-work {
        .previous-work {
            a {
                h3, h5 {
                    margin-top: 0px;
                    margin-bottom: 0;
                }
                text-decoration: none;
                color: inherit;
                display: block;
                img {
                    display: block;
                    width: 100%;
                }
                span {
                    display: block;
                    padding: 15px;
                }
                &:hover {
                    background-color: @brand-primary;
                    color: white;
                }
            }
        }
        &:after {
            content: '';
            display: table;
            clear: both;
        }
    }


    &.main section&__process {
        background: none;
        background-color: white;
        color: @blue-grey;
        .triangle-chart {
            padding-bottom: 15px;
            padding-top: 50px;
        }
    }
}
