.agency {
    .main__header {
        .container {
            // max-width: 800px;
        }
        .tile {
            min-height: auto;
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }
    section:not(.main__header) {
        .tile {
            padding-bottom: 45px;
        }
    }
    .member {
        margin-bottom: 30px;
        h4 {
            // margin-bottom: 0;
        }
        p {
            font-size: 16px;
            // margin-top: 0;
        }
    }

    .previous-work {
        margin-bottom: 15px;
        h4 {
            margin-bottom: 2px;
        }
        h4, h5 {
            margin-top: 0px;
        }
        .sk-label {
            padding: 0 0.2em ;
        }

        a {
            img {
                display: block;
                width: 100%;
            }
            span {
                display: block;
                padding: 15px;
            }
        }
    }


    &.main section&__process {
        background: none;
        background-color: white;
        .triangle-chart {
            padding-bottom: 15px;
            padding-top: 50px;
        }
    }
}
