<div class="content" ng-class="{ 'content--sidebar-opened': sidebar_opened }">
    <skoli-sidebar></skoli-sidebar>
    <div class="view">
        <skoli-navbar></skoli-navbar>
        <div class="main agency">
            <div class="inner">
                <section class="main__header">
                    <h1>Notre agence</h1>
                    <hr>
                    <div class="container">
                        <p class="definition italic">
                            <span class="bold">Synchroniser</span> : Faire se produire deux ou plusieurs choses
                            dans le même temps ou dans une succession précise, les coordonner.
                        </p>
                        <p>
                            L’ambition de Skoli, synchroniser les sciences et la société,
                            repose sur trois convictions.
                            <ul>
                                <li>La Recherche est une priorité : elle doit être au coeur de la société, et non à la marge.</li>
                                <li>Aucune information disponible, en particulier les mesures numériques du monde (data), ne doit rester inaccessible à la Recherche pour enrichir la connaissance.</li>
                                <li>Le savoir issu de la Recherche doit être mieux diffusé et utilisé pour éclairer nos choix publics et accroître notre intelligence collective.</li>
                            </ul>
                        </p>
                        <p>
                            Les données numériques sont devenues un matériau de recherche
                            à part entière et indispensable pour décrypter le monde
                            et les sociétés qui l’habitent.<br>
                            Nous mettons notre savoir-faire à disposition des organisations
                            de recherche pour leur aider à <span class="bold">capter, traiter et exploiter
                                des données numériques</span>.
                            </p>
                            <p>
                                Le format actuel de publication scientifique ne correspond
                                pas au nouveau paradigme d’accès et de partage des connaissances,
                                et les acquis de la Recherche restent le plus souvent confinés
                                aux spécialistes d’un domaine.<br>
                                Nous aidons les chercheurs à <span class="bold">réhabiliter le savoir en créant
                                des formats de restitution numériques innovants</span> et à forte audience,
                                à la hauteur de l’intelligence mobilisée pour les produire.
                            </p>
                            <p>
                                <span class="bold">Nous ne sommes pas chercheurs.</span>
                                Nous ne nous substituons pas à leur travail: notre mission
                                consiste à les accompagner dans <span class="bold">la production
                                et la transmission de leurs travaux</span>.
                            </p>

                    </div>

                    <triangle-chart data="agency.chartData"></triangle-chart>
                </section>
                <section class="main__interval"
                    ng-init="lucas = agency.getMember('lucas'); gauth = agency.getMember('gauthier'); pierre = agency.getMember('pierre')">
                    <img src="../assets/images/photos/getty_prez_bw.jpg" alt="Photo de l'équipe Skoli - Pierre Gauthier Lucas" />
                    <div class="overlay hidden-xs hidden-sm">
                        <!-- <div class="elem bh-label" style="left:11%; top:8%">{{ pierre.name }}</div> -->
                        <!-- <div class="elem bh-label" style="left:26%; top: 13%">{{ gauth.name }}</div> -->
                        <!-- <div class="elem bh-label" style="left:56.5%; top: 17%">{{ lucas.name }}</div> -->

                        <div class="member member-overlay" ng-class="pierre.color" style="bottom:2%; left: 1%;">
                            <a rel="nofollow" ng-href="{{ pierre.linkedin }}"><i class="fa fa-linkedin-square"></i></a>
                            <h3>
                                {{ pierre.name }}<br>
                                <span class="title">
                                    {{ pierre.title }}
                                </span>
                            </h3>
                            <p>{{ pierre.function }}</p>
                        </div>
                        <div class="member member-overlay" ng-class="gauth.color" style="bottom:2%; left: 32%;">
                            <a rel="nofollow" ng-href="{{ gauth.linkedin }}"><i class="fa fa-linkedin-square"></i></a>
                            <h3>
                                {{ gauth.name }}<br>
                                <span class="title">
                                    {{ gauth.title }}
                                </span>
                            </h3>
                            <p>{{ gauth.function }}</p>
                        </div>
                        <div class="member member-overlay" ng-class="lucas.color" style="bottom:2%; left: 63%;">
                            <a rel="nofollow" ng-href="{{ lucas.linkedin }}"><i class="fa fa-linkedin-square"></i></a>
                            <h3>
                                {{ lucas.name }}<br>
                                <span class="title">
                                    {{ lucas.title }}
                                </span>
                            </h3>
                            <p>{{ lucas.function }}</p>
                        </div>
                    </div>
                </section>
                <section class="agency__members main__interval visible-xs visible-sm">
                        <div class="member col-sm-4 col-xs-12" ng-class="member.color" ng-repeat="member in agency.listMembers()">
                            <div class="member__description">
                                <a rel="nofollow" ng-href="{{ member.linkedin }}"><i class="fa fa-linkedin-square"></i></a>
                                <h4>{{ member.name }}<br><span class="title bold" >{{ member.title }}</span></h4>
                                <p>
                                    {{ member.function }}
                                </p>
                            </div>
                        </div>
                </section>
                <section class="agency__skills">
                    <div class="container">
                        <h1 class="bold">Nos compétences</h1>
                        <div class="row">
                            <div class="col-md-4">
                                <h3 class="small-underline"><span class="">Ingénierie</span></h3>
                                <ul class="list-unstyled">
                                    <li>Gestion de projet</li>
                                    <li>Développement web</li>
                                    <li>Data intelligence</li>
                                    <li>Design d’interactions</li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <h3 class="small-underline"><span class="">Information</span></h3>
                                <ul class="list-unstyled">
                                    <li>Editorialisation</li>
                                    <li>Journalisme</li>
                                    <li>Design d’information</li>
                                    <li>Architecture de l’information</li>
                                    <li>Ludification</li>
                                </ul>
                            </div>

                            <div class="col-md-4">
                                <h3 class="small-underline"><span class="">Communication</span></h3>
                                <ul class="list-unstyled">
                                    <li>Médiation scientifique</li>
                                    <li>Stratégie digitale</li>
                                    <li>Communication institutionnelle</li>
                                    <li>Réseaux sociaux</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="agency__previous-work">
                    <div class="container">
                        <h1 class="bold text-center">Nos précédentes réalisations</h1>
                        <p>
                            Nous sommes issus du monde du web. Nos différents
                            parcours au sein d'agences (web, design et data-journalisme)
                            nous ont appris à cerner les enjeux et l'importance
                            de la production d'une information de qualité. Nous
                            avons sélectionné quelques réalisations auxquelles
                            nous avons participé à titre individuel ou collectif
                            afin de mieux illustrer nos savoir-faire.
                        </p>
                        <div class="row">
                            <div class="col-md-4 previous-work" ng-repeat="previousWork in agency.listPreviousWork()">
                                <a href="{{ previousWork.link }}" rel="nofollow">
                                    <img src="{{ previousWork.picture }}"/>
                                    <span>
                                        <h3>{{ previousWork.title }}</h3>
                                        <h5>{{ previousWork.subtitle }}</h5>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <skoli-footer></skoli-footer>
        </div>
    </div>
</div>
